include LICENSE
include README.md
include dngine/VERSION
recursive-include dngine/assets *
recursive-include dngine/i18n *.json
recursive-include dngine/plugins *.json
include dngine/builtin_plugin_manifest.json
